.container {
    margin: auto;
    width: min(100%, 1440px);
    margin-top: 138.4px;
}

/* header */
header {
    display: flex;
    background: #372D23;
    padding: 32px 80px;
    position: fixed;
    width: inherit;
    max-width: inherit;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    z-index: 1;

}

.header_ul {
    display: flex;
    column-gap: 48px;

}

.active {
    color: #ED6C30;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.no_active {
    color: #B89278;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.fa-bag-shopping {
    color: #FCC21B;
    font-size: 40px;
}

/* section1 */
.section1 {
    height: 640px;
    position: relative;

}

.section1_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.section1_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    text-shadow: 0px 6px 4px #372D23;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 32px;
}

.section1_button {
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    padding: 12px 38px;
    background-color: transparent;
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

/* section2 */
.section2 {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    padding: 80px;
}

.section2_div {
    height: 320px;
    position: relative;

}

.card_box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 88px;
    padding: 28px 47px;
    width: 100%;
    background-color: rgba(55, 45, 35, .6);
    backdrop-filter: blur(5px);
    column-gap: 4px;
}

.section2_card_img {
    width: 100%;
    height: 100%;
}

.section2_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

/* article */
.article1{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 40px;
width: 1060px;
margin: 0 190px 80px;

   
   
    
}


.article_title {
    color: #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
   align-items: center;
   
}
.article_text{
    color: #855C52;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; 

}
.article_button{
    height: 52px;
padding: 12px 40px;
background: #ED6C30;
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
}
/* footer */
footer{
    background: #372D23;
    padding: 32px 300px;
    display: flex;
    column-gap: 416px;

}
.footer_div{
    width: 264px;
    height: 132px;
}
.footer_title{
    color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;  
margin-bottom: 16px;
}
.footer_ul{

    color: #B89278;
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
row-gap: 8px;
}
.footer_div2{
    
}
.footer_div2_icon{
    column-gap: 16px;
}